body {
background-image: url(https://jlr7245.github.io/ga_press_release_continued/hero.png);
}
div.container {
	border: 1px solid #ddd;
	width: 70%;
	max-width: 1000px;
	background-color: white;
	display: block;
	margin: 120px auto;
}
img.logo {
	max-height: 150px;
}
img {
	max-width: 100%;
}
section {
	float: left;
	width: 60%;
	display: block;
	padding: 1%;
}
aside {
	float: right;
	width: 30%;
	display: block;
	padding: 3%;
	border-left: 1px solid #ddd;
}
aside h3 {
	font-size: 1.5em;
	color: #CF4948;
}
aside p {
	font-size: 1.3em;
}
 ul.states{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    font-family: "fira mono";
    text-align: center;
}
 ul.states li {
	color: white;
    background-color: #CF4948;
    border-radius: 10px;
    display: inline-block;
    padding: 3px 12px;
    margin: 5px;
    border-bottom: 2px solid #A20101;
}
aside .linktosite {
	border-color: #CF4948;
}
aside .linktosite a {
	color: #CF4948;
	text-decoration: none;
}
.linktosite {
	font-size: 1.2em;
    border: 5px solid white;
    background: none;
    color: white;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
    padding: 5px 10px;
    font-family: "fira mono", monospace;
}
.col:first-of-type {
	border-top: 1px solid #ddd;
}
.col {
	width: 30%;
	float: left;
	padding: 3%;
	display: table-cell;
	vertical-align: middle;
}
.col img {
	width: 80%;
	display: block;
	margin: 0px auto;
	max-width: 300px;
}
.clear {clear:both;}